.about-page{
    display: flex;
    background-color: #161616;
}

.about{
    margin-left: 144px;
    margin-top: 50px;
}

.about-p{
    width: 400px;
    height: 50px;
    color: #F2F2F2;
}

.about-me{
    color: rgb(0, 255, 0);
    font-size: 2.5em;
    
    padding-top: 15px;
    padding-bottom: 15px;
    
}


.about-div{
    margin-left: 114px;
    font-family: 'Roboto';
    font-size: 20px;
    margin-top: 100px;
}


.frontend-dvp,.skills{
    margin-top: -50px;
    margin-bottom: 65px;
    width: 569px;
    height: 110px;
    background-color: gray;
    a{
        color: rgb(0, 255, 0);
        text-decoration: underline;
        margin-left: 37px;

    }
        
}

.paragraph{
    padding: 32px 0px 0px 36px;
    margin-bottom: 15px;
}

@media screen and (max-width:768px) 
{
    .about-page{
        display: block;
    }

    .about-div{
        margin-top: 150px;
        margin-left: 50px;
        padding-bottom: 30px;
        
    }
    .frontend-dvp,.skills{
        width: 400px;
        margin-bottom: 0;
        
    }
    .skills{
        margin-top: 25px;
    }
    .about-me{
        font-size: 2em;
    }
    .about{
        margin-top: 0;
        margin-left: 50px;
    }
}


@media screen and (max-width:467px) 
{
    .about-page{
        display: block;
    }

    .about-div{
        margin-top: 150px;
        margin-left: 50px;
        
        
    }
    .frontend-dvp,.skills{
        margin-left: 0;
        width: 300px;
        margin-bottom: 0;
    }
    .skills{
        margin-top: 25px;
        
    }

    .about-p{
        width: 300px;
    }

    .about-me{
        font-size: 2em;
    }

    .about{
        
        margin-top: 0;
        margin-left: 50px;
    }

    .frontend-dvp{
        margin-top: 20px;
    }
}