.about-page{
    display: flex;
    background-color: #161616;
}

.about{
    margin-left: 144px;
    margin-top: 50px;
}

.about-p{
    width: 400px;
    height: 50px;
    color: #F2F2F2;
}

.about-me{
    color: rgb(0, 255, 0);
    font-size: 40px;
}


.about-div{
    margin-left: 114px;
    font-family: 'Roboto';
    font-size: 20px;
    margin-top: 100px;}


.frontend-dvp,.skills{
    margin-top: -50px;
    margin-bottom: 65px;
    width: 569px;
    height: 110px;
    background-color: gray;
    a{
        color: rgb(0, 255, 0);
        text-decoration: underline;
        margin-left: 37px;

    }
        
}

.paragraph{
    padding: 32px 0px 0px 36px;
    margin-bottom: 15px;
}



