.home-container{
    background-image: url("../assets/al.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}


@media screen and (max-width:768px) 
{
    .home-container{
        background-size: 1600px;
    }
    
}