.sec-container {
    margin: 223px 0px 0px 149px;
    display: flex;
    h2 {
        margin-bottom: 21px;
    }
}

.alpha{
    display: flex;
}

.svges {
    display: flex;
    margin: 100px 174px 20px 400px;
    right: 207px;
    width: 545px;
    height: 545px;
    border-radius: 100%;
    border: 1px solid rgb(58, 54, 54);
}

@keyframes colorChange {
    0% { border-color: rgb(221, 219, 219); }
    25% { border-color: rgb(240, 219, 79); } 
    50% { border-color: rgb(131, 205, 41); } 
    75% { border-color: rgb(0, 122, 204); } 
    100% { border-color:rgb(221, 219, 219); }
}


.nodejs {
    margin: 58px 0px 0px 15px;
    border: none;
    
}

.oop{
    color: #F2F2F2;

    h3{
        margin-top: 12px;
    }
}

.typescript {
    margin-top: 383px;
    margin-left: 320px;
    border-radius: 50%;
    

}

.logo {
    margin-top: 383px;
    margin-left: -485px;
}

.next {
    margin: 60px 21px 0px 325px;
    
}

.svges {
    animation: rotate 8s linear infinite,colorChange 8s infinite;
    
}

@keyframes svgrotate {
    0% {
        transform:rotateZ(0deg);
    }

    100%{
        transform:rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

