.skil {
    margin-top: 50px;
    background-color: #161616;
}

.context {
    width: 60px;
    padding-top: 44px;
    margin-left: 158px;
    color: rgb(0, 255, 0);
    font-size: 40px;
}

.skills-logos {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 130px;

    li:hover {
        transform: scale(1.10);
        box-shadow: 10px 10px 10px rgba(92, 90, 90, 0.261);
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
}

.three-logo {
    margin-left: 68px;
    margin-top: 80px;
    display: flex;
    width: 530px;
    justify-content: space-between;
    padding-bottom: 122px;

    li:hover {
        cursor: pointer;
        transform: scale(1.10);
        box-shadow: 10px 10px 10px rgba(92, 90, 90, 0.262);
        transition: 0.3s ease-in-out;
    }
}

@media only screen and (max-width: 768px) {
    .context {
        width: auto;
        padding-top: 20px;
        margin-left: 20px;
        font-size: 24px;
    }

    .skills-logos {
        width: auto;
        flex-wrap: wrap;
    }

    .three-logo {
        margin-left: 20px;
        margin-top: 20px;
        width: auto;
        justify-content: center;
    }
}