.skil {
    padding-top: 50px;
    background-color: #161616;
}

.context {
    width: 60px;
    padding-top: 44px;
    margin-left: 158px;
    color: rgb(0, 255, 0);
    font-size: 40px;
}

.skills-logos {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 130px;

    li:hover {
        transform: scale(1.10);
        filter: drop-shadow(10px 10px 1px rgba(93, 91, 91, 0.4));

        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
}

.three-logo {
    margin-left: 68px;
    margin-top: 80px;
    display: flex;
    width: 530px;
    justify-content: space-between;
    padding-bottom: 122px;

    li:hover {
        cursor: pointer;
        transform: scale(1.10);
        filter: drop-shadow(10px 10px 1px rgba(93, 91, 91, 0.4));
        transition: 0.3s ease-in-out;

    }
}


