.back {
    background-image: url("../assets/laptop.png");
    filter: grayscale(70%);
    width: 471px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
    display: flex;
    border: 1px solid white;
    margin: 0 auto;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 100px;
    

    &:hover {
        border: 1px solid rgb(0, 255, 0);
        transition: 0.3s ease-in-out;
        filter: brightness(75%);
        

        div {
            opacity: 1;
            transition: 0.3s ease-in-out;
        }
    }

    div {
        display: flex;
        width: 470px;
        height: 50px;
        border-radius: 0px 0px 12px 12px;
        background-color: #4c4c4c97;
        margin-top: 298px;
        opacity: 0; 

        h3 {
            margin: 7px 0px 19px 32px;
        }

        a {
            margin-left: 100px;
            padding-top: 10px;
            color: rgb(0, 255, 0);
            text-decoration: underline;
        }
    }

}

.swiper {
    background-color: #161616;
    border-collapse: collapse;
}

.projects {
    margin: 105px 0px 82px 141px;
    color: rgb(0, 255, 0);
    font-size: 2.5em;
}

@media screen and (max-width:768px) {
    .back{
        filter: grayscale(0%);
        width: 384px;
        height: 250px;
        background-size: cover;
        margin-bottom: 50px;
        div{
            opacity: 1;
            margin-top: 200px;
            background-color: #4c4c4c00;
            h3{
                opacity: 0;
            }
            a{
                color: green;
                opacity: 1;
            }
        }
    }
    .projects{
        font-size: 2em;
        margin: 30px 0px 30px 50px;
    }
    
}

@media screen and (max-width:467px) 
{
    .back{
        width: 300px;
        margin-bottom: 50px;
        div{
            a{
                width: 100px;
                margin-left: 75px;
            }
        }
    }
    .projects{
        font-size: 2em;
        margin-left: 50px;
    }
}