@import "section";
@import "navbar";
@import "abot";
@import "skills";
@import "slider";
@import "footer";
@import "home";
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    font-family: 'Roboto';
    font-size: 20px;
    
}


li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}





@media only screen and (max-width:768px) {
    .container{
        width: auto;
    }
}